:root {
    --back-color: #111111;
    --violet-color: #1E1823;
    --orange-color: #FD9222;
    --white-color: #FFFFFF;
    --creme-color: #FCF1E0;
    --light-gray-color: #fafafa;

}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--light-gray-color);
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    max-width: 1168px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}

/* #region HEADER */
.header {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: var(--back-color);
    padding: 28px 0;
}

.logo-span {
    font-style: italic;
}

.logo-icon {
    box-sizing: content-box;
    stroke: var(--orange-color);
    fill: var(--light-gray-color);
    
}

.header-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 90px;
}

.nav-item {
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--back-color);
    padding: 28px 0;
    transition: color 250ms ease-in-out;
}

.network-list {
    display: flex;
    align-items: center;
    gap: 18px;
}

.network-item {
}

.network-link {
    padding: 28px 0;
}

.network-icon {
    stroke: var(--back-color);
    fill: var(--light-gray-color);
    transition: stroke 250ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus,
.network-link:hover .network-icon,
.network-link:focus .network-icon {
    color: var(--orange-color);
    stroke: var(--orange-color);
}
/* #endregion HEADER */

/* #region HERO */
.hero {
    max-width: 1200px;
    max-height: 600px;
    border-radius: 30px;
    background-image: linear-gradient(rgba(30, 24, 35, 0.4),rgba(30, 24, 35, 0.4)), url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 381px 72px 40px 72px;
    margin-bottom: 72px;
}

.hero-title {
    max-width: 484px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: var(--white-color);
    margin-bottom: 32px;
}

.hero-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-box-btn {
}

.hero-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--white-color);
    background-color: var(--orange-color);
    border: none;
    padding: 14px 40px;
    border-radius: 100px;
    margin-right: 14px;
    cursor: pointer;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
    color: var(--orange-color);
    background-color: var(--creme-color);
    
}

.hero-link {
    font-weight: 600;
    font-size: 14px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 100px;
    padding: 14px 40px;
    transition: color 250ms ease-in-out, border 250ms ease-in-out;
}

.hero-link:hover,
.hero-link:focus {
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
}

.hero-scroll-list {
    display: flex;
    align-items: center;
    gap: 14px;
}

.hero-down-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: var(--white-color);
    transition: color 250ms ease-in-out;
}

.hero-scroll-list:hover .hero-down-link,
.hero-scroll-list:focus .hero-down-link {
    color: var(--orange-color);
}

.hero-down-span {
    margin-left: 14px;
}

.down-icon {
    box-sizing: content-box;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--white-color);
    fill: var(--orange-color);
    transition: fill 250ms ease-in-out, background 250ms ease-in-out;
}

.hero-scroll-list:hover .down-icon,
.hero-scroll-list:focus .down-icon {
    fill: var(--white-color);
    background-color: var(--orange-color);
}
/* #endregion HERO */

/* #region BENEFITS */
.benefits {
    background-color: var(--violet-color);
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
}

.benefits-item {
    width: calc((100% - 88px * 2) / 3);
    position: relative;
}

.benefits-item:not(:last-child):after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 124px;
    right: -18px;
    background-color: rgba(255, 255, 255, 0.5);
}

.benefits-icon-box {
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.benefits-icon {
    fill: var(--orange-color);
}

.benefits-item-title {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}
.benefits-item-text {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}
/* #endregion BENEFITS */

/* #region INGREDIENTS */
.ingredients {
}

.ingredients-section-title {
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    max-width: 411px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
}

.title-span {
    color: var(--orange-color);
}

.ingredients-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    max-width: 486px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.ingredients-list {
    display: flex;
    gap: 19px;
    align-items: center;
    margin-bottom: 100px;
}

.ingredients-item {
    width: calc((100% - 3 * 19px) / 4);
    padding: 28px 32px;
    border-radius: 15px;
}

.ingredients-item:nth-child(4n+1) {
    background-color: var(--orange-color);
}

.ingredients-item:nth-child(even) {
    border: 1px solid #fd9222;
}

.ingredients-item:nth-child(4n+3) {
    background-color: var(--violet-color);
}

.ingredients-item-img {
    margin-bottom: 36px;
}

.ingredients-item-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white-color);
}

.ingredients-item:nth-child(even) .ingredients-item-title {
    color: var(--back-color);
}
/* #endregion INGREDIENTS */

/* #region MADE */
.made {
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    margin-bottom: 50px;
}

.made-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 100px;
}

.made-img {
}

.made-box {
    border-radius: 15px;
    background-color: var(--white-color);
    padding: 32px 32px;
    max-height: 400px;
}

.made-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #111;
    margin-bottom: 28px;
}

.made-list {
}

.made-item {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
    margin-bottom: 24px;
    display: flex;
    align-items: baseline;
}

.made-item-icon{
    margin-right: 8px;
}
/* #endregion MADE */

/* #region FEEDBACK */
.feedback {
}

.feedback-list {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 50px;
}

.feedback-item {
    width: calc((100% - 2 * 28px) / 3);
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background-color: var(--white-color);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    padding: 24px 24px;
}

.feedback-item-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

.feedback-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: var(--back-color);
    margin-bottom: 24px;
}

.feedback-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.feedback-link {
    margin-left: auto;
    margin-right: auto; 
    font-weight: 600;
    font-size: 18px;
    color: var(--back-color);
    border: 1px solid var(--orange-color);
    border-radius: 100px;
    padding: 14px 40px;
    margin-bottom: 100px;
}
/* #endregion FEEDBACK */

/* #region FOOTER */
.footer-box {
    background-color: var(--violet-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-container {
    display: flex;
    margin-bottom: 74px;
}

.footer-text {
    max-width: 300px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: var(--white-color);
}

.footer-address {
    margin-left: auto;
}

.footer-address-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: var(--white-color);
    margin-bottom: 14px;
}

.footer-address-list {
}

.footer-address-item {
    margin-bottom: 4px;
}

.footer-tel {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--white-color);
}

.footer-mail {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--white-color);
}

.footer-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.footer-nav {
}

.footer-nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-nav-item {
}

.footer-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--white-color);
}

.footer-form-email {
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 13px 24px;
}

.footer-form-btn {
}
/* #endregion FOOTER */